In [27]:
#importing libraries
import numpy as np
import pandas as pd
import os

In [28]:
#part 3 import the new orders_products_combined dataframe
path = r'/Users/gomula/Documents/Instacart Basket Analysis 14.05.2023'
df_ords_prods_comb = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))
#import last updated product data frame
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = [0])

In [29]:
df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [30]:
#part 4 check the shape of the imported dataframe
df_ords_prods_comb.shape

(32434489, 11)

In [31]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [32]:
df_prods.shape

(49672, 5)

In [33]:
#drop indicator column from df_ords_prods_comb
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])
df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,0.0,196,1,0
1,2539329,1,prior,1,2,8,0.0,14084,2,0
2,2539329,1,prior,1,2,8,0.0,12427,3,0
3,2539329,1,prior,1,2,8,0.0,26088,4,0
4,2539329,1,prior,1,2,8,0.0,26405,5,0

In [ ]:
#part 5 merge products data frame with orders_products_combined
df_ord_prod_merged = df_ords_prods_comb.merge(df_prods, on = 'product_id', how = 'inner', indicator = True)
df_ord_prod_merged.head()

In [ ]:
df_ord_prod_merged.shape

In [ ]:
#part 6 check merging flags
df_ord_prod_merged['_merge'].value_counts()

The number of rows in merged dataframe is lower than the row number in df_ords_prods_comb.the reason is that in df_ords there are some missing values for product names that was deleted in the previous sections.so there is no full matach between two data frames.

In [ ]:
#part 7 export data frame
df_ord_prod_merged.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged.pkl'))